body{
    background-color: black;
    color: white;
    overflow: hidden;
}
#cal{
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
#calculator{
    margin: 0 auto;
    display: block;
    width: 40%;
    height: auto; 
    background-color: rgba(43, 41, 41, 0.449);
    margin-top: 30px;
}
#cal_screen{
    height: 150px;
    background-color: transparent;
}
#cal_screen nav{
    height: 50px;
}
nav i{
    margin-top: 10px;
    margin-left:30px;
    font-size: 1.5rem;
    
    cursor: pointer;
}
.fa-history{
    float: right;
    margin-right: 30px;
}
nav{
    font-size: 1.5rem;
}

#screen{
    height: 100px;
    text-align: right;
}
#small_div{
    height: 30px;
    font-size: 18px;
    color: grey;
}
#big_div{
    height: 70px;
    font-size: 40px;
}

#cal_body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
}
.element{
    width: 140px;
    height: 50px;
    background-color: rgba(46, 45, 45, 0.541);
    margin: 2px;
}
.element:hover{
    background-color: rgb(85, 83, 83);
    box-shadow: 1px 1px 2px 0px lightgrey;
}
.element >p{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    margin-top: 7%;
}
.num{
    font-size: 1.1rem;
}
sup{
    vertical-align: super;
    font-size: smaller;
}
.special{
    background-color: rgba(49, 105, 226, 0.801);
    
}
.special:hover{
    background-color: rgba(49, 105, 226);
}

#sidebar{
    width: auto;
    height: 450px;
    z-index: 1000;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    display: none;
    background-color: black;
}
#sidebar::-webkit-scrollbar{
    width: 10px;
}
#sidebar ul{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
#sidebar ul>li{
    list-style: none;
    margin: 0;
    padding: auto;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
#sidebar ul>li i{
    width: 50px;
}
#closebar{
    float: right;
    cursor: pointer;
}
#closebar:hover{
    transform: rotate(20deg);
}
